.nav-icon {
    transform: scale(1.5);
    
  }
  
  #profileicon {
    transform: scale(1.7);
  }

  #hearticon {
    transform: scale(1.7);
  }

  .header {
    padding: 10px;
  }
  
  .headerlogo {
    text-align: center;
  }

  .logopic {
    height: 50px;
    padding-bottom: 8px;
  }

