<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-button slot="start" button [routerLink]="['/settings']">
        <ion-icon id="profileicon" class="nav-icon" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headerlogo">
     <img class="logopic" src="../../assets/images/logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button button [routerLink]="['/match']">
        <ion-icon id="hearticon" class="nav-icon" slot="icon-only" name="heart-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
