.matchcard {
    background-color: #fff7d7;
    margin-top: 17px;
}

.matchimg {
    border-radius: 50%;
}

.matchname {
    font-family: 'Quicksand', sans-serif;
}

.phnumber {
    position: absolute;
    bottom: 0;
    left: 30%;
    font-family: 'Quicksand', sans-serif;
}

.headtitle {
    font-family: 'Quicksand', sans-serif;
}